@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
body .btn {
  border-radius: 0px;
  padding: 6px 20px;
  border: 0 none;
}
body .btn.btn-success {
  background: #82b150;
}
body .btn.btn-primary {
  background: #af1e2d;
  border: 0 none;
}
body .btn.btn-lg {
  padding: 8px 40px;
  font-size: 1.2em;
}
body .badge {
  background: #af1e2d;
  border-radius: 0;
  padding: 5px 10px;
}
a {
  color: #2c3e50;
}
a:hover {
  text-decoration: none;
  color: #AF1E2D;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
header .logo a img {
  margin: -10px 0 0 -15px;
}
header .search form {
  display: inline-block;
  float: right;
  margin: 20px 0 0;
}
header #trigger-overlay {
  padding: 5px 10px;
  margin: 40px 0 10px 10px;
  background: #AF1E2D;
  color: #fff;
  font-weight: 300;
  font-size: 1.3em;
  text-transform: uppercase;
  text-shadow: 0 0 0;
  border: 0 none;
}
header button.search-submit {
  background: #fff;
  border: 1px solid #ddd;
  font-weight: 700;
}
header .top-header p {
  float: left;
  margin: 0;
  padding: 0 10px;
}
header .top-header .fono {
  float: left;
}
header .top-header .fono i {
  float: left;
  font-size: 1.1em;
  margin-right: 10px;
  line-height: 1.6;
}
header .top-header .fono a {
  float: left;
  font-size: 1em;
}
header .top-header .email {
  float: left;
}
header .top-header .email i {
  float: left;
  font-size: 1.1em;
  margin-right: 10px;
  line-height: 1.6;
}
header .top-header .email a {
  float: left;
  font-size: 1em;
}
header .top-header .dir {
  float: right;
}
header .top-header .dir i {
  float: left;
  font-size: 1.1em;
  margin-right: 10px;
  line-height: 1.6;
}
header .top-header .dir p {
  float: left;
  font-size: 1em;
  padding: 0;
}
header .top-header-social {
  margin-top: 48px;
  display: inline-block;
}
header h4.ejec {
  font-size: 14px;
  color: #2c3e50;
  margin-top: 30px;
}
.sub-header {
  padding: 20px 0;
  background: #575b5e;
}
.sub-header .wellcomer-msg {
  color: #fff;
}
.sub-header .wellcomer-msg h4 {
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 1px;
}
.sub-header .wellcomer-msg h4 strong {
  font-weight: 700;
  text-transform: uppercase;
}
.sub-header nav {
  padding: 10px 0;
}
.sub-header nav ul li {
  padding: 0 15px;
}
.sub-header nav ul li a {
  color: #fff;
  font-weight: 700;
}
.header-submenu {
  background: #af1e2d;
  padding: 20px 0;
  margin-bottom: 20px;
}
.header-submenu nav ul {
  margin: 0;
  padding: 0;
}
.header-submenu nav ul li {
  padding: 0 20px;
}
.header-submenu nav ul li a {
  color: #fff;
  font-weight: 700;
}
.main-section .sidebar .subtitle {
  background: #af1e2d;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
}
.main-section .block {
  border-width: 0px 1px 0 1px;
  border-color: #d9dadb;
  display: block;
  border-style: solid;
}
.main-section .block .title {
  background: #575b5e;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-size: 1.1em;
  font-weight: 700;
}
.main-section .block .title a {
  text-decoration: none;
}
.main-section .block .title a:hover {
  color: #fff;
  text-decoration: underline;
}
.main-section .block ul {
  margin: 0;
}
.main-section .block ul li a {
  background: #f2f2f2;
  color: #575b5e;
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.1em;
  border-bottom: 1px solid #d9dadb;
  font-weight: 700;
}
.main-section .block ul li a.active {
  box-shadow: #af1e2d 5px 0px 0px 0px inset;
}
.main-section .block .panel-heading {
  padding: 0;
}
.main-section .block .panel-body {
  padding: 0;
}
.main-section .block.panel {
  margin-top: 1px;
}
.main-section .sub-block {
  margin-top: 20px;
  border-width: 1px 1px 0 1px;
  border-color: #d9dadb;
  border-style: solid;
}
.main-section .sub-block nav ul {
  margin: 0;
}
.main-section .sub-block nav ul li a {
  color: #af1e2d;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #d9dadb;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 700;
}
.main-section .list-options {
  border-width: 1px 1px 0 1px;
  border-color: #d9dadb;
  border-style: solid;
}
.main-section .list-options li {
  margin: 0;
  padding: 5px 20px;
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-bottom: 1px solid #d9dadb;
}
.main-section .list-options li h5 {
  font-size: 1.2em;
  font-weight: 700;
  color: #575b5e;
}
.main-section .list-options .badge {
  margin: 8px 0;
}
.main-section .list-options .btn {
  margin: 3px 0;
}
.main-section .ejecutivo-person h4 {
  color: #a4a7aa;
  font-weight: 700;
}
.main-section .ejecutivo-person h5 {
  color: #a4a7aa;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 5px;
}
.main-section .ejecutivo-person h6 {
  color: #a4a7aa;
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 5px;
}
.main-section .ejecutivo-person p {
  color: #575b5e;
  margin-bottom: 0px;
}
.main-section .title-table {
  background: #575b5e;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  margin: 0;
  font-weight: 700;
  width: 100%;
}
.main-section .sub-title-table {
  background: #d9dadb;
  display: inline-block;
  padding: 10px 30px;
  color: #af1e2d;
  margin: 0;
  width: 100%;
  font-weight: 700;
}
.main-section .form-group label {
  color: #af1e2d;
}
.main-section .payment-box {
  background: #f3f4f4;
  padding: 10px 20px;
}
.rut-hero {
  background-image: url(../img/bg_rut.jpg);
  margin-top: -20px;
  padding: 12vh 0;
}
.rut-hero .box-content {
  background: #2c3e50;
  padding: 20px 20px;
  margin: 20px 0;
}
.rut-hero .box-content.white-bg {
  background: #fff;
}
.rut-hero .box-content.white-bg h5,
.rut-hero .box-content.white-bg h3,
.rut-hero .box-content.white-bg h4 {
  color: #af1e2d;
}
.rut-hero .box-content.blue-bg {
  background: #2c3e50;
}
.rut-hero .box-content h5 {
  color: #fff;
  text-align: center;
}
.rut-hero .box-content h4 {
  text-align: center;
}
.rut-hero .box-content h3 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
}
/* Overlay style */
.overlay {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  left: inherit;
  background: #99cc33;
  z-index: 1;
}
/* Overlay closing cross */
.overlay .overlay-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  color: transparent;
  outline: none;
  z-index: 100;
}
/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 2%;
  height: auto;
  padding: 0 30px;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  float: none !important;
  width: 100%;
}
.overlay ul li {
  display: block;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  float: none;
}
.overlay ul li.menu-acceso-clientes a {
  border-color: transparent;
}
.overlay ul li a {
  font-size: 13px;
  border: 3px solid transparent;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color .2s;
  transition: color .2s;
  float: none;
  text-align: left;
  height: auto!important;
  padding: 5px 0 0!important;
  margin: 0;
  font-family: 'Lato';
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .overlay ul li a {
    padding: 0 !important;
  }
}
.overlay ul li a:hover,
.overlay ul li a:focus {
  border-bottom: 3px solid #AF1E2D;
  background: transparent;
}
/* Effects */
html,
body {
  overflow-x: hidden;
}
.content {
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.content.overlay-open {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}
.overlay-contentpush {
  background: #667380;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}
.overlay-contentpush.open {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
#trigger-overlay {
  padding: 5px 10px;
  margin: 20px 0 10px 10px;
  background: #AF1E2D;
  color: #fff;
  font-weight: 300;
}
.navmenu ul li.menu-contacto a {
  font-weight: 700;
}
.navmenu ul li.menu-acceso-clientes a:hover,
.navmenu ul li.menu-acceso-clientes a:focus,
.navmenu ul li.menu-acceso-clientes a:active {
  border-bottom: 3px solid #28B11C;
}
.closeoverlay.open {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.navmenu ul li.menu-acceso-clientes a {
  color: #28B11C;
}
