@gray: #575b5e;
@red: #af1e2d;
@light-gray: #f2f2f2;
@success: #82b150;
@blue: #2c3e50;

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

body{
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	.btn{
		border-radius: 0px;
		padding: 6px 20px;
		border: 0 none;
		&.btn-success{
			background: @success;
			
		}
		&.btn-primary{
			background: @red;
			border: 0 none;
		}
		&.btn-lg{
			padding: 8px 40px;
			font-size: 1.2em;
		}
	}
	.badge{
		background: @red;
		border-radius: 0;
		padding: 5px 10px;

	}
}
a{
	color: #2c3e50;
	&:hover{
		    text-decoration: none;
    		color: #AF1E2D;
	}
}

.sr-only{
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
header{
	.logo{
		a{
			img{
				margin: -10px 0 0 -15px;
			}
		}
	}
	.search{
		form{
			display: inline-block;
		    float: right;
		    margin: 20px 0 0;
		}
	}
	#trigger-overlay {
	    padding: 5px 10px;
	    margin: 40px 0 10px 10px;
	    background: #AF1E2D;
	    color: #fff;
	    font-weight: 300;
        font-size: 1.3em;
	    text-transform: uppercase;
	    text-shadow: 0 0 0;
	    border: 0 none;
	}
	button.search-submit {
	    background: #fff;
	    border: 1px solid #ddd;
	    font-weight: 700;
	}
	.top-header {
	    // float: right;
	    // padding: 30px 0 0 0;
	    p {
		    float: left;
		    margin: 0;
		    padding: 0 10px;
		}
	    .fono {
		    float: left;
		    i {
			    float: left;
			    font-size: 1.1em;
			    margin-right: 10px;
			    line-height: 1.6;
			}
			a {
			    float: left;
			    font-size: 1em;
			}
		}
		.email {
		    float: left;
		    i {
			    float: left;
			    font-size: 1.1em;
			    margin-right: 10px;
			    line-height: 1.6;
			}
			a {
			    float: left;
			    font-size: 1em;
			}
		}
		.dir {
		    float: right;
		    i {
			    float: left;
			    font-size: 1.1em;
			    margin-right: 10px;
			    line-height: 1.6;
			}
			p {
			    float: left;
			    font-size: 1em;
			    padding: 0;
			}
		}
	}
	.top-header-social{
		margin-top: 48px;
    	display: inline-block;
	}
	h4.ejec{
		font-size: 14px;
		color: @blue;
		margin-top: 30px;
	}
}

.sub-header {
    padding: 20px 0;
    background: @gray;
    .wellcomer-msg{
    	color: #fff;
    	h4{
    		font-weight: 400;
    		font-size: 1.2em;
    		letter-spacing: 1px;
    		strong{
    			font-weight: 700;
    			text-transform: uppercase;
    		}
    	}
    }
    nav{
    	padding: 10px 0;
    	ul{
    		li{
    			padding: 0 15px;
    			a{
    				color: #fff;
    				font-weight: 700;
    			}
    		}
    	}
    }
}
.header-submenu{
	background: @red;
	padding: 20px 0;
	margin-bottom: 20px;
	nav{
		ul{
			margin: 0;
			padding: 0;
			li{
				padding: 0 20px;
				a{
					color: #fff;
					font-weight: 700;
				}
			}
		}
	}
}
.main-section{
	.sidebar{
		.subtitle{
			background: @red;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.2em;
			padding: 10px 20px;
			margin: 0;
			font-weight: 700;
			letter-spacing: 1px;
		}
	}
	.block{
		border-width: 0px 1px 0 1px;
		border-color: lighten(@gray, 50%);
		display: block;
		border-style: solid;
		.title{
			background: @gray;
			color: #fff;
			padding: 10px 20px;
			margin: 0;
			font-size: 1.1em;
			font-weight: 700;
			a{
				text-decoration: none;
				&:hover{
					color: #fff;
					text-decoration: underline;
				}
			}
		}
		ul{
			margin: 0;
			li{
				a{
					background: @light-gray;
					color: @gray;
					width: 100%;
					display: inline-block;
					padding: 10px 20px;
					font-size: 1.1em;
					border-bottom: 1px solid lighten(@gray, 50%);
					font-weight: 700;
					&.active{
						box-shadow: @red 5px 0px 0px 0px inset;
					}
				}
			}
		}
		.panel-heading{
			padding: 0;
		}
		.panel-body{
			padding: 0;
		}
		&.panel{
			margin-top: 1px;
		}
	}
	.sub-block{
		margin-top: 20px;
		border-width: 1px 1px 0 1px;
		border-color: lighten(@gray, 50%);
		border-style: solid;
		nav{
			ul{
				margin: 0;
					li{
						a{
							color: @red;
							display: inline-block;
							width: 100%;
							border-bottom: 1px solid lighten(@gray, 50%);
							padding: 10px 20px;
							font-size: 1.2em;
							font-weight: 700;
						}
					}
				}
			}
		}

	.list-options{
		border-width: 1px 1px 0 1px;
		border-color: lighten(@gray, 50%);
		
		border-style: solid;
		li{
			margin: 0;
			padding: 5px 20px;
			display: block;
			width: 100%;
			background: @light-gray;
			border-bottom: 1px solid lighten(@gray, 50%);
			h5{
				font-size: 1.2em;
				font-weight: 700;
				color: @gray;
			}
		}
		.badge{
			margin: 8px 0;
		}
		.btn{
			margin: 3px 0;
		}
	}
	.ejecutivo-person{
		h4{
			color: lighten(@gray, 30%);
			font-weight: 700;
		}
		h5{
			color: lighten(@gray, 30%);
			font-size: 1.2em;
			font-weight: 700;
			margin-bottom: 5px;
		}
		h6{
			color: lighten(@gray, 30%);
			font-weight: 700;
			font-size: 1.1em;
			margin-top: 5px;
		}
		p{
			color: @gray;
			margin-bottom: 0px;
		}
	}

	.title-table{
		background: @gray;
		display: inline-block;
		padding: 10px 30px;
		color: #fff;
		margin: 0;
		font-weight: 700;
		width: 100%;	
	}
	.sub-title-table{
		background: lighten(@gray, 50%);
		display: inline-block;
		padding: 10px 30px;
		color: @red;
		margin: 0;
		width: 100%;
		font-weight: 700;
	}
	.form-group{
		label{
			color: @red;
		}
	}
	.payment-box{
		background: lighten(@gray, 60%);
		padding: 10px 20px;
	}
}

.rut-hero{
	background-image: url(../img/bg_rut.jpg);
	margin-top: -20px;
	padding: 12vh 0;
	.box-content{
		background: @blue;
		padding: 20px 20px;
		margin: 20px 0;
		&.white-bg{
			background: #fff;
			h5, h3, h4{
				color: @red;
			}
		}
		&.blue-bg{
			background: @blue;
		}
		h5{
			color: #fff;
			text-align: center;
		}
		h4{
			text-align: center;
		}
		h3{
			color: #fff;
			text-align: center;
			font-weight: 700;
			font-size: 1.5em;
		}
	}
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  left: inherit;
  background: rgba(153,204,51,1);
  z-index: 1;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 2%;
  height: auto;
  padding: 0 30px;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  float: none !important;
  width: 100%;
}

.overlay ul li {
  display: block;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  float: none;
}
.overlay ul li.menu-acceso-clientes a {
  border-color: transparent;
}

.overlay ul li a {
  font-size: 13px; 
  border: 3px solid transparent;
    font-weight: 300;
    display: block;
    color: #fff;
    -webkit-transition: color .2s;
    transition: color .2s;
    float: none;
    text-align: left;
    height: auto!important;
    padding: 5px 0 0!important;
    margin: 0;
    font-family: 'Lato';
    letter-spacing: 1px;

    text-transform: uppercase;

}

@media (max-width: 768px) {

  .overlay ul li a {
    padding: 0 !important;
  }

}

.overlay ul li a:hover,
.overlay ul li a:focus {
  // color: #f0f0f0;
  border-bottom: 3px solid #AF1E2D;
  background: transparent;
}
/* Effects */
html, body {
  overflow-x: hidden;
}

.content {
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; 
}

.content.overlay-open {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

.content::after {
  // content: '';
  // opacity: 0;
  // visibility: hidden;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background: rgba(0,0,0,0.6);
  // -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  // transition: opacity 0.5s, visibility 0s 0.5s;
  // z-index: 9999999;
}

.content.overlay-open::after {
  // visibility: visible;
  // opacity: 1;
  // -webkit-transition: opacity 0.5s;
  // transition: opacity 0.5s;
}

.overlay-contentpush {
  background: #667380;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
#trigger-overlay{
  padding: 5px 10px;
  margin: 20px 0 10px 10px;
  background: #AF1E2D;
    color: #fff;
    font-weight: 300;
}
.navmenu ul li.menu-contacto a {
    font-weight: 700;
}
.navmenu ul li.menu-acceso-clientes a:hover, .navmenu ul li.menu-acceso-clientes a:focus, .navmenu ul li.menu-acceso-clientes a:active {
    border-bottom: 3px solid #28B11C;
}
.closeoverlay.open{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
    background: rgba(0,0,0,.6);
        visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.navmenu ul li.menu-acceso-clientes a {
    color: #28B11C;
    // border-bottom: 3px solid #fff;
}